<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<br>
		<h1>Hello, I'd like to tell you all about this page.</h1>
		<p>Really, isn't it about time?</p>
		<p>I mean, what more can be said about such an awesome blog?</p>
		<p><a href="https://vimeo.com/104560959">Mae says it in her own words</a></p>
	</div>
</div>